<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Edit Data Customer</h3>
    <form action="/customers/admin/edit/<%= customer.id %>" method="POST">
      <label for="">Email</label>
      <input
        type="email"
        name="email"
        placeholder="masukkan email"
        value="<%= customer.email %>"
      />
      <br />
      <button>Edit Data</button>
    </form>
  </body>
</html>
